.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 22px;
  height: 54px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  transition: background-color .3s;

  &--accent {
    background-color: $color-accent;
    color: $color-white;

    &:hover, &:focus-within {
      background-color: darken($color: $color-accent, $amount: 5%);
    }
  }
}
