.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 112px;
  padding: 0 80px;

  @include media-max(1500px) {
    padding: 0 30px;
  }

  @include media-max($breakpoint_lg) {
    padding: 0 15px;
  }

  @include media-max($breakpoint_md) {
    padding: 0 0 0 15px;
    height: 72px;
  }

  &__logo {
    padding-top: 16px;
  }

  &__phone {
    @include media-max($breakpoint_md) {
      display: none !important;
    }
  }

  &__social {
    &-wrap {
      display: flex;
      align-items: center;
      gap: 10px;

      @include media-max($breakpoint_lg) {
        flex-direction: column;
      }
      @include media-max($breakpoint_md) {
        display: none !important;
      }
    }
  }

  &__btns {
    display: flex;

    @include media-max($breakpoint_md) {
      display: none;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    text-align: left;
    width: 268px;
    height: 112px;
    color: $color-white;
    font-weight: 500;
    font-size: 16px;

    @include media-max($breakpoint_xl) {
      width: 178px;
      padding: 0 15px !important;
      display: flex;
      justify-content: center !important;
      align-items: center;
    }

    svg {
      width: 26px;
      height: 26px;
      margin-right: 18px;
      flex-shrink: 0;
      stroke: $color-white;
      path {
        stroke: $color-white;
      }
    }

    &--left {
      background-image: url('../images/masks/main-btn-left.svg');
      padding-right: 23px;
      justify-content: flex-end;

      @include media-max($breakpoint_xl) {
        background: $color-grey;
        border-bottom-left-radius: 8px;
      }

      span {
        max-width: 143px;
        line-height: 15px;
      }
    }

    &--right {
      background-image: url('../images/masks/main-btn-right.svg');
      padding-left: 18px;

      @include media-max($breakpoint_xl) {
        background: $color-accent;
        border-bottom-right-radius: 8px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        max-width: 168px;
        line-height: 15px;
      }
    }
  }

  &__mobile-btns {
    display: none;
    // z-index: -1;
    background-image: url('../images/masks/mobile-btn-left.svg');

    @include media-max($breakpoint_md) {
      display: flex;
    }
  }

  &__mobile-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    color: $color-white;
    font-size: 16px;
    cursor: pointer;
    z-index: 100;

    svg {
      stroke: $color-white;
      path {
        stroke: $color-white;
      }
    }


    &--left {
      width: 79px;
      background-image: url('../images/masks/mobile-btn-left.svg');

      svg {
        width: 26px;
        height: 26px;
        transform: translateX(45%);
      }
    }

    &--right {
      width: 86px;
      background-image: url('../images/masks/mobile-btn-right.svg');

      svg {
        width: 19px;
        height: 9px;
        transform: translateX(45%);
      }
    }

    &--close {
      width: 86px;
      background-image: url('../images/masks/mobile-btn-right.svg');
      svg {
        width: 15px;
        height: 15px;
        transform: translateX(45%);
        pointer-events: none;
      }
    }
  }
}
