.phone {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;

  svg {
    width: 21px;
    height: 21px;
    margin-right: 12px;
    stroke: $color-grey;
    path {
      stroke: $color-grey;
    }

  }

  span {
    color: $color-accent;
  }
}
