.phone {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;

  transition: color .3s, transform .3s;

  svg {
    width: 21px;
    height: 21px;
    margin-right: 12px;
    stroke: $color-grey;
    path {
      stroke: $color-grey;
    }

  }

  span {
    color: $color-accent;
  }

  &:hover, &:focus-within {
    text-decoration: underline;
    animation: heartbeat 0.6s infinite;
  }
}
