.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__text {
    min-width: 132px;
  }

  &__item {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    padding-left: 15px;

    &:not(:last-child) {
      margin-right: 18px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }

    &--viber {
      &::before {
        background-color: #7D3DAF;
      }
    }

    &--whatsapp {
      &::before {
        background-color: #1FB69F;
      }
    }

    &--telegram {
      &::before {
        background-color: #2CA0DA;
      }
    }
  }
}
