.social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__item {
    transition: transform .3s;
    &:hover, &:focus-within {
      transform: scale(1.1);
    }
  }

  &__link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    padding-left: 15px;
    transition: color .3s;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }

    &--viber {
      &::before {
        background-color: #7D3DAF;
      }
      &:hover,
      &:focus {
        color: #7D3DAF;
      }
    }

    &--whatsapp {
      &::before {
        background-color: #1FB69F;
      }
      &:hover,
      &:focus {
        color: #1FB69F;
      }
    }

    &--telegram {
      &::before {
        background-color: #2CA0DA;
      }
      &:hover,
      &:focus {
        color: #2CA0DA;
      }
    }
  }
}
