.advantages-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 100%;
    background-color: $color-grey;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 420px;
    background-color: $color-whitegrey;
    z-index: -1;
    clip-path: polygon(100% 0%, -30% 100%, 100% 100%);

    @include media-max($breakpoint_xl) {
      height: 300px;
    }

    @include media-max($breakpoint_lg) {
      height: 160px;
    }

    @include media-max($breakpoint_sm) {
      height: 95px;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }
  }
}

.advantages {
  &__container {
    color: $color-white;
    padding-top: 67px;
    padding-bottom: 360px;
    // padding-bottom: 320px;

    @include media-max($breakpoint_xl) {
      padding-bottom: 240px;
    }

    @include media-max($breakpoint_lg) {
      padding-bottom: 120px;
    }

    @include media-max($breakpoint_sm) {
      padding-top: 30px;
      padding-bottom: 74px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;

    @include media-max($breakpoint_sm) {
      gap: 35px;
    }
  }

  &__item {
    display: flex;
    width: 48%;

    @include media-max($breakpoint_sm) {
      width: 100%;
    }
  }
  &__icon {
    margin-right: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 63px;
    height: 82px;
    background-image: url('../images/masks/adv-icon.svg');
    background-position: center;
    background-repeat: no-repeat;

    svg {
      fill: $color-white;
    }
  }

  &__descr {
    padding-top: 19px;
    flex-grow: 1;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
    // max-width: 100%;
    &--speed {
      max-width: 400px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.2;
    max-width: 450px;
  }
}
