.dekor {
  z-index: -1;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.offer-section__bg-whitegrey {
  // height: 610px;
  // top: 493px;
  // left: 0;
  // background-image: url(../images/masks/main-bg-whitegrey.svg);

  top: 494px;
  height: 610px;
  background-color: $color-whitegrey;
  clip-path: polygon(0 70%, 100% 0, 100% 30%, 0% 100%);

  @include media-max($breakpoint_xl) {
    top: 450px;
    height: 440px;
  }

  @include media-max($breakpoint_lg) {
    top: 400px;
  }

  @include media-max($breakpoint_md) {

  }

  @include media-max($breakpoint_sm) {
    top: 365px;
    // width: 414px;
    height: 470px;
    background-color: $color-whitegrey;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  }

  @include media-max($breakpoint_xs) {

  }
}

.experience__bg-blue {
  top: 675px;
  height: 1523px;
  background-color: #005aff;
  clip-path: polygon(0 27%, 100% 0, 100% 73%, 0% 100%);

  @include media-max($breakpoint_xl) {
    top: 583px;
    clip-path: polygon(0 26%, 100% 0, 100% 71%, 0% 100%);
    height: 1190px;
  }

  @include media-max($breakpoint_lg) {
    top: 533px;
  }

  @include media-max($breakpoint_md) {

  }

  @include media-max($breakpoint_sm) {
    top: 745px;
    // width: 414px;
    height: 645px;
    background-color: #005aff;
    clip-path: polygon(0 14%, 100% 0, 100% 86%, 0% 100%);
  }

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-main-bg-blue.svg);
  //   top: 638px;
  // }
}

.experience__bg-grey {
  top: 1385px;
  height: 812px;
  background-color: #37455c;
  clip-path: polygon(0 0%, 100% 0, 100% 55%, 0% 100%);

  @include media-max($breakpoint_xl) {
    top: 1190px;
    height: 900px;
    clip-path: polygon(0 0%, 100% 0, 100% 54%, 0% 67%);
  }

  @include media-max($breakpoint_lg) {
    top: 1100px;
  }

  @include media-max($breakpoint_md) {

  }

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-main-bg-grey.svg);
  // }
}

.features__bg-whitegrey {
  height: 1730px;
  top: 1834px;
  // top: 501px;
  left: 0;
  background-image: url(../images/masks/features-bg-whitegrey.svg);

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-features-bg-whitegrey.svg);
  // }
}

.technics-bg-grey {
  height: 1729px;
  top: 3125px;
  // top: -393px;
  left: 0;

  background-image: url(../images/masks/technics-bg-grey.svg);

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-technics-bg-grey.svg);
  // }
}

.guarantee-bg-grey {
  height: 1923px;
  top: 4416px;
  // top: 10px;
  left: 0;

  background-image: url(../images/masks/guarantee-bg-grey.svg);

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-guarantee-bg-grey.svg);
  // }
}

.guarantee-bg-blue {
  height: 1427px;
  top: 5859px;
  left: 0;

  background-image: url(../images/masks/guarantee-bg-blue.svg);

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-guarantee-bg-grey.svg);
  // }
}

.prices-bg-whitegrey {
  height: 2621px;
  top: 8379px;
  left: 0;

  background-image: url(../images/masks/prices-bg-whitegrey.svg);

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-guarantee-bg-grey.svg);
  // }
}

.time-limits-bg-blue {
  height: 1051px;
  top: 11897px;
  left: 0;

  background-image: url(../images/masks/time-limits-bg-blue.svg);

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-guarantee-bg-grey.svg);
  // }
}

.order-bg-whitegrey {
  height: 2434px;
  top: 12519px;
  left: 0;

  background-image: url(../images/masks/order-bg-whitegrey.svg);

  // @include media-max($breakpoint_xs) {
  //   background-image: url(../images/masks/mobile/sm-guarantee-bg-grey.svg);
  // }
}
