.technics-section {
  position: relative;
  color: $color-white;
}

.technics {
  &__container {
    padding-bottom: 153px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__descr {
    margin-bottom: 31px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
  }
}

.technics-item {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 139px;
    line-height: 1.2;
  }

  &__img {
    position: relative;
    height: 600px;

    &--kamaz {
      z-index: -1;
      max-width: initial;
      position: absolute;
      top: -173px;
      left: -166px;
    }

    &--ghost {
      max-width: initial;
      position: absolute;
      top: 13px;
      left: -34px;
    }
  }
}
