.time-limits-section {
  position: relative;
  color: $color-white;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 100%;
    background-color: $color-accent;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 420px;
    background-color: $color-whitegrey;
    z-index: -1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

    @include media-max($breakpoint_xl) {
      height: 240px;
    }
    @include media-max($breakpoint_lg) {
      height: 150px;
    }

    @include media-max($breakpoint_sm) {
      height: 95px;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }
  }
}

.time-limits {
  &__container {
    padding-top: 55px;
    padding-bottom: 302px;

    @include media-max($breakpoint_sm) {
      padding-top: 37px;
      padding-bottom: 145px;
    }
  }

  &__title {
    @include media-max($breakpoint_sm) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    padding-top: 126px;

    @include media-max($breakpoint_lg) {
      flex-wrap: wrap;
      row-gap: 50px;
    }

    @include media-max($breakpoint_sm) {
      padding: 0;
      row-gap: 41px;
    }
  }

  &__item {
    position: relative;
    width: 200px;

    @include media-max($breakpoint_lg) {
      width: calc(100% / 3);

      &:nth-of-type(4) {
        order: -1;
      }
    }

    @include media-max($breakpoint_sm) {
      margin: 0 auto;
      max-width: 400px;
      width: 100%;
      text-align: center;
      &:nth-of-type(4) {
        order: 0;
      }
    }
    // &-icon {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 120px;
    //   height: 89px;
    //   background-image: url('../images/masks/time-limits-white.svg');
    //   background-repeat: no-repeat;
    //   background-position: 0 0;
    // }

    &:nth-of-type(even) &__icon {
      transform: translateY(-7px);
      &::before {
        transform: translate(-75%, 7px);
      }
    }

    &__icon {
      display: inline-block;
      position: relative;
      margin-bottom: 11px;

      &::before {
        content: '';
        width: 120px;
        height: 89px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-75%);
        background-image: url('../images/masks/time-limits-ghost.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 28px;

      @include media-max($breakpoint_sm) {
        br {
          display: none;
        }
        margin-bottom: 15px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.2;

      @include media-max($breakpoint_sm) {
        font-weight: 400;
        font-size: 14px;
      }
    }

    @include media-min($breakpoint_sm) {
      .time-limits__item__title {
        transform: translateY(-171px);
      }
    }

    &--last {
      z-index: 2;
      position: relative;
      padding-left: 35px;
      padding-right: 20px;
      width: 205px;
      height: 82px;
      background-image: url('../images/masks/time-limits-grey.svg');
      background-repeat: no-repeat;
      background-position: center;

      font-weight: 500;
      font-size: 14px;


      display: flex;
      align-items: center;

      svg{
        width: 25px;
        height: 40px;
        margin-right: 18px;
      }

      // &::before {
      //   content: '';
      //   width: 120px;
      //   height: 89px;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background-image: url('../images/masks/time-limits-ghost.svg');
      //   background-repeat: no-repeat;
      //   background-position: 0 0;
      // }

      @include media-max($breakpoint_sm) {
        order: -1;
        width: 100%;
        justify-content: center;
      }
    }
  }
}
